@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: 61.2;
  padding: 0;
  margin: 0;
  outline: none;
  overflow-x: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html ::-webkit-scrollbar {
  width: 4px;
}

html ::-webkit-scrollbar-track {
  background: #18191a;
}

html ::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5rem;
}

body {
  background: #18191a;
  background-image: url(../../resource/img/final.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid red;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  -webkit-box-shadow: 0 5px 10px rgba(255, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(255, 0, 0, 0.5);
}

.header .container_title_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.header .container_title_logo .container_logo {
  width: 70px;
  height: 70px;
  margin: 0.5rem 0 0 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.header .container_title_logo .container_logo img {
  width: 100%;
}

.header .container_title_logo .title_head {
  color: white;
  padding: .5rem;
  margin-top: .5rem;
  -webkit-animation: efect_3 5s linear 0s infinite alternate;
          animation: efect_3 5s linear 0s infinite alternate;
}

.header .container_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 3rem;
  padding: 1rem 0;
}

.header .container_nav li a {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
}

.header .container_nav li a:hover {
  color: greenyellow;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header .container_menu {
  margin: 1rem;
}

.header .container_menu i {
  font-size: 2rem;
  color: white;
}

.header .container_menu i:hover {
  color: greenyellow;
}

.header.hidden {
  display: none;
}

.home {
  position: relative;
  padding: 100px 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  height: auto;
}

.home .container_left_input {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 2rem;
  border: 1px solid red;
  -webkit-box-shadow: 3px 3px 5px rgba(255, 0, 0, 0.5);
          box-shadow: 3px 3px 5px rgba(255, 0, 0, 0.5);
  overflow: hidden;
  height: auto;
}

.home .container_left_input .container_menu_type_left {
  height: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  border-right: 1px solid rgba(255, 0, 0, 0.6);
  -webkit-box-shadow: 2px 0 3px rgba(255, 0, 0, 0.2);
          box-shadow: 2px 0 3px rgba(255, 0, 0, 0.2);
}

.home .container_left_input .container_menu_type_left .container_qr_type {
  position: relative;
  width: 100%;
  height: 3rem;
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .container_left_input .container_menu_type_left .container_qr_type.active {
  background: linear-gradient(45deg, #000000, #eb5757);
}

.home .container_left_input .container_menu_type_left .container_qr_type.active span {
  color: white;
}

.home .container_left_input .container_menu_type_left .container_qr_type.active i {
  color: white;
}

.home .container_left_input .container_menu_type_left .container_qr_type i {
  position: relative;
  color: white;
  font-size: 1.2rem;
  top: 0.5rem;
  left: 1rem;
}

.home .container_left_input .container_menu_type_left .container_qr_type span {
  display: inline-block;
  position: relative;
  top: 0.8rem;
  left: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: 0.3rem;
}

.home .container_left_input .container_menu_type_left .container_qr_type:hover {
  background: -webkit-gradient(linear, left top, right top, from(#1d4350), to(#a43931));
  background: linear-gradient(90deg, #1d4350, #a43931);
}

.home .container_left_input .container_menu_type_left .container_qr_type:hover i {
  color: white;
}

.home .container_left_input .container_menu_type_left .container_qr_type:hover span {
  color: white;
}

.home .container_left_input .container_menu_input_right {
  position: relative;
  width: 80%;
  height: 100%;
}

.home .container_left_input .container_menu_input_right .container_input_type {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.home .container_left_input .container_menu_input_right .container_input_type.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .container_left_input .container_menu_input_right .container_input_type .container_input_row {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
}

.home .container_left_input .container_menu_input_right .container_input_type .container_input_row span {
  display: inline-block;
  color: white;
  text-shadow: 0 0 2px white;
  text-transform: capitalize;
  width: 20%;
}

.home .container_left_input .container_menu_input_right .container_input_type .container_input_row .col_chill {
  width: 80%;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home .container_left_input .container_menu_input_right .container_input_type .container_input_row .col_chill input {
  width: 43.5%;
  height: 2rem;
  background: transparent;
  color: white;
  border: 1px solid yellow;
  padding: 0 0 0 0.5rem;
  border-radius: 2rem;
}

.home .container_left_input .container_menu_input_right .container_input_type .container_input_row .col_chill input::-webkit-input-placeholder {
  color: white;
  text-align: center;
}

.home .container_left_input .container_menu_input_right .container_input_type .container_input_row .col_chill input:-ms-input-placeholder {
  color: white;
  text-align: center;
}

.home .container_left_input .container_menu_input_right .container_input_type .container_input_row .col_chill input::-ms-input-placeholder {
  color: white;
  text-align: center;
}

.home .container_left_input .container_menu_input_right .container_input_type .container_input_row .col_chill input::placeholder {
  color: white;
  text-align: center;
}

.home .container_left_input .container_menu_input_right .container_input_type .container_input_row .col_chill .count_elemt_1 {
  width: 90%;
}

.home .container_left_input .container_menu_input_right .container_input_type .genergate {
  position: relative;
  display: inline-block;
  width: 300px;
  margin: 1rem auto 1rem auto;
  padding: auto;
  background: greenyellow;
  border-radius: 4rem;
  -webkit-box-shadow: 0 0 4px greenyellow;
          box-shadow: 0 0 4px greenyellow;
  border: none;
  color: black;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  text-align: center;
}

.home .container_left_input .container_menu_input_right .container_input_type .genergate:hover {
  background: deeppink;
  color: white;
  -webkit-box-shadow: 0 0 4px deeppink;
          box-shadow: 0 0 4px deeppink;
}

.home .container_left_input .container_menu_input_right .container_input_type .genergate i {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  top: 0.3rem;
}

.home .container_left_input .container_menu_input_right .container_input_type_url {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.home .container_left_input .container_menu_input_right .container_input_type_url #url {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  background: transparent;
  color: white;
  font-size: 1.5rem;
  border: none;
}

.home .container_left_input .container_menu_input_right .container_input_type_url #url::-webkit-input-placeholder {
  color: white;
  font-size: 2rem;
}

.home .container_left_input .container_menu_input_right .container_input_type_url #url:-ms-input-placeholder {
  color: white;
  font-size: 2rem;
}

.home .container_left_input .container_menu_input_right .container_input_type_url #url::-ms-input-placeholder {
  color: white;
  font-size: 2rem;
}

.home .container_left_input .container_menu_input_right .container_input_type_url #url::placeholder {
  color: white;
  font-size: 2rem;
}

.home .container_left_input .container_menu_input_right .container_input_type_vcard {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home .container_left_input .container_menu_input_right .container_input_type_vcard .container_input_row .col_chill input:nth-child(3) {
  margin-top: 0.5rem;
  width: 90%;
}

.home .container_left_input .container_menu_input_right .container_input_type_text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.home .container_left_input .container_menu_input_right .container_input_type_text #text {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: transparent;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  border: none;
}

.home .container_left_input .container_menu_input_right .container_input_type_text #text::-webkit-input-placeholder {
  text-transform: capitalize;
  font-size: 2rem;
  color: white;
}

.home .container_left_input .container_menu_input_right .container_input_type_text #text:-ms-input-placeholder {
  text-transform: capitalize;
  font-size: 2rem;
  color: white;
}

.home .container_left_input .container_menu_input_right .container_input_type_text #text::-ms-input-placeholder {
  text-transform: capitalize;
  font-size: 2rem;
  color: white;
}

.home .container_left_input .container_menu_input_right .container_input_type_text #text::placeholder {
  text-transform: capitalize;
  font-size: 2rem;
  color: white;
}

.home .container_left_input .container_menu_input_right .container_input_type_email {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home .container_left_input .container_menu_input_right .container_input_type_email .container_input_row .col_chill input {
  width: 96%;
}

.home .container_left_input .container_menu_input_right .container_input_type_email .container_input_row .col_chill #mess {
  width: 95%;
  background: transparent;
  border: 1px solid yellow;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  padding: 1rem 0.5rem;
}

.home .container_left_input .container_menu_input_right .container_input_type_email .container_input_row .col_chill #mess::-webkit-input-placeholder {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
}

.home .container_left_input .container_menu_input_right .container_input_type_email .container_input_row .col_chill #mess:-ms-input-placeholder {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
}

.home .container_left_input .container_menu_input_right .container_input_type_email .container_input_row .col_chill #mess::-ms-input-placeholder {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
}

.home .container_left_input .container_menu_input_right .container_input_type_email .container_input_row .col_chill #mess::placeholder {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
}

.home .container_left_input .container_menu_input_right .container_input_type_wifi {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .container_left_input .container_menu_input_right .container_input_type_wifi .container_input_row:nth-child(3) .col_chill {
  overflow: hidden;
}

.home .container_left_input .container_menu_input_right .container_input_type_wifi .container_input_row span {
  width: 30%;
}

.home .container_left_input .container_menu_input_right .container_input_type_wifi .container_input_row .col_chill {
  width: 60%;
}

.home .container_left_input .container_menu_input_right .container_input_type_wifi .container_input_row .col_chill label {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: white;
  width: 20%;
  text-transform: capitalize;
}

.home .container_left_input .container_menu_input_right .container_input_type_wifi .container_input_row .col_chill label .check {
  width: 1.1rem;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.home .container_left_input .container_menu_input_right .container_input_type_wifi .container_input_row .col_chill label:nth-child(n + 2) {
  margin-left: 1rem;
}

.home .container_left_input .container_menu_input_right .container_input_type_facebook {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.home .container_left_input .container_menu_input_right .container_input_type_facebook .container_input_row {
  padding: 1rem 0.5rem;
}

.home .container_left_input .container_menu_input_right .container_input_type_facebook .container_input_row .col_chill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .container_left_input .container_menu_input_right .container_input_type_facebook .container_input_row .col_chill input {
  width: 96%;
}

.home .container_left_input .container_menu_input_right .container_input_type_facebook .container_input_row .col_chill label {
  color: white;
  text-transform: capitalize;
  font-size: 0.8rem;
  overflow: hidden;
}

.home .container_left_input .container_menu_input_right .container_input_type_facebook .container_input_row .col_chill label .check {
  width: 1rem;
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
  margin-right: 1rem;
}

.home .container_right_output {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 100px;
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 2rem;
  border: 1px solid red;
  -webkit-box-shadow: 3px 3px 5px rgba(255, 0, 0, 0.5);
          box-shadow: 3px 3px 5px rgba(255, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.5);
  overflow: visible;
}

.home .container_right_output .container_img_qr {
  width: 100%;
  height: 200px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0 0 0;
}

.home .container_right_output .container_img_qr img {
  width: 30%;
}

.home .container_right_output .border_efect_2 {
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 10;
  -webkit-transform: translateX(-2.7rem);
          transform: translateX(-2.7rem);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: transparent;
  border: 1px solid red;
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

.home .container_right_output .border_efect_2 #efect_2 {
  width: 98%;
  margin: 1%;
  -webkit-animation: efect_2 5s linear 0s infinite;
          animation: efect_2 5s linear 0s infinite;
}

.home #efect_1 {
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 150px;
  z-index: -10;
  -webkit-animation: efect_1 7s linear 0s infinite;
          animation: efect_1 7s linear 0s infinite;
}

.home #efect_sunl {
  position: fixed;
  z-index: -1000;
  bottom: 0;
  left: 0;
  width: 200px;
  opacity: .5;
  -webkit-animation: efect_bike 40s linear 0s infinite;
          animation: efect_bike 40s linear 0s infinite;
}

@-webkit-keyframes efect_1 {
  0% {
    top: -80px;
    left: 60%;
  }
  100% {
    top: 50vh;
    left: 100%;
  }
}

@keyframes efect_1 {
  0% {
    top: -80px;
    left: 60%;
  }
  100% {
    top: 50vh;
    left: 100%;
  }
}

@-webkit-keyframes efect_2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes efect_2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes efect_bike {
  0% {
    left: 0;
  }
  25% {
    left: 50%;
  }
  45% {
    left: 90%;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    left: 90%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  75% {
    left: 50%;
  }
  95% {
    left: 0%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes efect_bike {
  0% {
    left: 0;
  }
  25% {
    left: 50%;
  }
  45% {
    left: 90%;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    left: 90%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  75% {
    left: 50%;
  }
  95% {
    left: 0%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes efect_3 {
  0% {
    color: red;
    text-shadow: 0 0 10px red;
  }
  100% {
    color: yellow;
    text-shadow: 0 0 10px yellow;
  }
}

@keyframes efect_3 {
  0% {
    color: red;
    text-shadow: 0 0 10px red;
  }
  100% {
    color: yellow;
    text-shadow: 0 0 10px yellow;
  }
}

@media (max-width: 1200px) {
  .home .container_left_input .container_menu_type_left {
    width: 10%;
  }
  .home .container_left_input .container_menu_type_left .container_qr_type {
    text-align: center;
    padding: 1rem 0 1rem 0;
  }
  .home .container_left_input .container_menu_type_left .container_qr_type i {
    left: .3rem;
  }
  .home .container_left_input .container_menu_type_left .container_qr_type span {
    display: none;
  }
}

@media (max-width: 840px) {
  .header .container_title_logo .title_head {
    display: none;
  }
}
/*# sourceMappingURL=home.css.map */